/* Basic styling set */
html, body {
	margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  color: black;
}
/*--------------------*/


.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 0px;
  background-color: #f4f5e1;
}


.container > * {
  border: 1px solid green;
  background-color: #f4f5e1;
  padding: 10px;
  grid-column: col-start / span 12;
}

.nav {
  grid-column: col-start 5 / span 8;
  background-color: #444444;
}

.brandbanner {
grid-column: col-start / span 4;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.nav li a{
  color: white;
  text-decoration: none;
  padding: 5px 5px;
}

.content {
/*for large viewmodel grid-column: col-start 4 / span 6; 
grid-column: col-start 2 / span 10; */
background-color: #f4f5e1;


}

.infocontainer {
  background-color: darkgreen; 
  padding: 10px;
  color: white;
  border-left: blueviolet solid 5px;
  border-radius: 5px;
}

.infocontainer > * {
  color: white;
}

.info-item {
  margin: 0.2em;
}

.displaycontainer {
  
  background-color: blueviolet;
  display: grid;
  gap: 1em;
  grid-template-columns: minmax(100px, 1fr);
}


.imageBanner {
  background-color: yellow;
}

img {
  width: 100%;
}


@media screen and (min-width: 700px) {
  .content {
    grid-column: col-start 2 / span 10;
  }


@media screen and (min-width: 1200px) {
  .content {
    grid-column: col-start 4 / span 6;
  }


}



