/* Basic styling set */
html, body {
	margin:0;
  padding:0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}
/*--------------------*/


.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 0px;
  background-color: dodgerblue;
}


.container > * {
  border: 1px solid green;
  background-color: beige;
  padding: 10px;
  grid-column: col-start / span 12;
}

.nav {
  grid-column: col-start 5 / span 8;
  background-color: #444444;
}

.brandbanner {
grid-column: col-start / span 4;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.nav li a{
  color: white;
  text-decoration: none;
  padding: 5px 5px;
  font-size: 20px;
}

.content {
grid-column: col-start 2 / span 10;
background-color: dodgerblue;
border: 0px;

}

.infobox {
  background-color: red;
  grid-column: col-start 5 / span 2;
}

.imageBanner {
  background-color: yellow;
  border: 1px solid white;
}

img {
  width: 100%;
}


